@import url('/components/flat-ui/css/bootstrap.css');
@import url('/components/flat-ui/css/flat-ui.css');

body {
  padding: 20px;
  margin: 0 auto;
  width: 600px;
  font-family: Helvetica, Arial;
  color: white;
  background-image: url(/images/bg.png);
}

.wrapper {
  padding-top: 25%;
}

.description {
  font-style: italic;
}
header {
  text-align: center;
  font-family: Lato;
}

.logo {
  background-image: url(/images/colors.png);
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
